.input-container {
    background-color: #e9ecef
}

.list-item-hover:hover {
    background-color: #eee;
}

.error-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 500px;
    background-color: #f6dada;
    border: 1px solid #f66161;
}
