* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #eee;
    font-family: arial, sans-serif;
}

h1 {
    padding: 20px;
}

.list-container {
    margin: 0px 15px 20px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.list-container-side {
    margin: 10px 15px;
    list-style: none;
}

.list-item {
    padding: 8px 10px;
    font-size: 20px;
    transition: .2s;
}

.list-item-gift {
    padding: 3px 10px;
    font-size: 17px;
}

.list-link {
    padding: 5px 10px;
    display: block;
    width: 100px;
    text-decoration: none;
    color: black;
    background-color: #b4b4e8;
    border-radius: 5px;
}

.list-item:hover {
    transform: scale(1.06);
}

.list-link:hover {
    color: #4c0101;
}

.error-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 500px;
    background-color: #f6d5d5;
    border: 1px solid red;
}
